@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ingredient {
  display: inline;
}

.ingredient::after {
  content: ", ";
  font-weight: normal;
}
.ingredient:last-child::after {
  content: "";
}

.selected-item,
.selected-tag,
.selected-category-item {
  position: relative;
}

.selected-item::after,
.selected-tag::after,
.selected-category-item::after {
  position: absolute;
  content: "⁠—";
  padding-bottom: 2px;
  top: -5px;
  right: -5px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  color: white;
}

.selected-tag::after {
  font-size: 0.75rem;
  top: -4px;
  right: -4px;
  height: 1rem;
  width: 1rem;
}

.bg-caipirinha,
.bg-tequila-sunrise {
  background-position: bottom 0px right 0px;
}

.bg-corpse-reviver-2 {
  filter: brightness(200%);
}

.bg-paper-plane {
  background-position: top 20% right 0px;
}

@media (min-width: 1024px) {
  .selected-item::after {
    height: 20px;
    width: 20px;
    font-size: 1rem;
  }

  .selected-tag::after {
    height: 20px;
    width: 20px;
    font-size: 1rem;
  }

  .selected-tag-sm::after {
    font-size: 0.75rem;
    height: 16px;
    width: 16px;
  }

  .selected-category-item::after {
    padding-bottom: 2px;
    height: 20px;
    width: 20px;
    font-size: initial;
  }
}
