@tailwind base;
@tailwind components;
@tailwind utilities;

.ingredient {
	display: inline;
}

.ingredient::after {
	content: ", ";
	font-weight: normal;
}
.ingredient:last-child::after {
	content: "";
}

.selected-item,
.selected-category-item {
	position: relative;
}

.selected-item::after {
	position: absolute;
	content: "⁠—";
	padding-bottom: 2px;
	top: -5px;
	right: -5px;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	border-radius: 50%;
}

.selected-category-item::after {
	position: absolute;
	content: "⁠—";
	padding-bottom: 2px;
	top: -5px;
	right: -5px;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	border-radius: 50%;
	color: white;
}

.selected-view {
}

@media (min-width: 1024px) {
	.selected-item::after {
		height: 30px;
		width: 30px;
		padding-bottom: 4px;
	}

	.selected-category-item::after {
		padding-bottom: 2px;
		height: 20px;
		width: 20px;
		font-size: initial;
	}
}
